.map-container {
    position: relative; /* Or absolute if needed */
    width: 88%;
    height: 650px;
    margin: auto; /* Centers it horizontally */
    top: 10px; 
    bottom: 15px;
}

/*
.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
*/
.map-overlay-title {
    font:
        20px/20px 'sans-serif',
        Arial,
        Helvetica,
        sans-serif;
    position: absolute;
    width: 300px;
    top: 10px;
    left: 10px;
    padding: 10px;
    background: white; 
}

.map-overlay-body {
    font:
        15px/20px 'sans-serif',
        Arial,
        Helvetica,
        sans-serif;
    position: absolute;
    width: 300px;
    top: 55px;
    left: 10px;
    padding: 10px;
    background: rgb(255, 255, 255); 
}

.whistler-info{
    position:center;
}

.web-title{
    font:
        40px/20px 'Montserrat',
            Arial,
            Helvetica,
            sans-serif;
    font-weight: bold; 
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.info-background{
    padding: 10px;
    width:auto;
    height: auto;
    background: rgb(228, 222, 222); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);


}

.info-write{
    font:
        20px/30px 'Montserrat',
            Arial,
            Helvetica,
            sans-serif;
    color: #800020;
}


.info-write-heading{
    font:
        25px/30px 'Montserrat',
            Arial,
            Helvetica,
            sans-serif;
    color: #800020;
    font-weight: bold;
    margin-bottom: 15px;
}