/* This deals with the size and the position of the actual map feature*/
.map-container {
    position: relative;
    width: 88%;
    height: 650px;
    margin: auto; 
    top: 10px; 
    bottom: 15px;
}

/*This deals with the size, colour and other aesthetic features realted to the map element's title */
.map-overlay-title {
    font:
        20px/20px 'sans-serif',
        Arial,
        Helvetica,
        sans-serif;
    position: absolute;
    width: auto;
    top: 10px;
    left: 10px;
    padding: 10px;
    background: white; 
    z-index: 1000;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;


}
/*This deals with the position of the Whistler Village information write up within the div*/

.whistler-info{
    position:center;
}

/*This deals with the aesthetic of the title within the banner at the top of the website*/
.web-title{
    font:
        40px/20px 'Montserrat',
            Arial,
            Helvetica,
            sans-serif;
    font-weight: bold; 
    text-align: center;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

/*This provides the aesthetic features regarding the box around the information about Whistler Village*/
.info-background{
    padding: 10px;
    width:auto;
    height: auto;
    background: rgb(228, 222, 222); 
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);


}

/*This provides the styling for the information text*/
.info-write{
    font:
        20px/30px 'Montserrat',
            Arial,
            Helvetica,
            sans-serif;
    color: #800020;
}

/*This provides the styling for the information text heading*/
.info-write-heading{
    font:
        25px/30px 'Montserrat',
            Arial,
            Helvetica,
            sans-serif;
    color: #800020;
    font-weight: bold;
    margin-bottom: 15px;
}

/*This provides the styling around the legened box*/
.legend {
    background: white;
    padding: 15px;
    border-radius: 5px;
    width: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    position: absolute;
    bottom: 10px; 
    right: 20px;  
    z-index: 1000;
}

/*Thus provides the styling around the actual legened elements*/
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

/*This creates the legend element icons for the ski runs*/
.color-box {
    width: 25px;
    height: 10px;
    margin-right: 10px;
    border-radius: 5px; 
}


/*This creates the legend element icons for the ski lifts*/
.black-box {
    width: 25px; 
    height: 10px;
    background-color: black;
    color: white; 
    border: 3px solid yellow; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-weight: bold;
    border-radius: 5px; 
        margin-right: 10px;

}

/*This creates the legend element icons for the Whistler Ski Resort*/
.color-box1 {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 5px; 
    border: 1px solid rgb(0, 0, 0); 

}
